*.bin
.place_holder
default.yaml
installation.yaml
pinyin_simp.userdb.kct
pinyin_simp.userdb/
pinyin_simp.userdb/
cangjie5.userdb/
wubi86.userdb/
symbols.yaml
user.yaml
weasel.yaml
sync
kaomoji.userdb/
pinyin_simp.userdb.old/
build/
trash/
*.schema.yaml